.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0px 4px 20px 0px #0000001a;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header__menu__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header__menu__link {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #000000;
}

.header__btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.check__btn {
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.hero__video {
  border-radius: 1rem;
}

.hero__container {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6.8rem;
}

.hero__article {
  width: 100%;
  max-width: 47rem;
  max-height: 22.4rem;
}

.hero__article__title {
  margin-bottom: 1.6rem;
}

.hero__article__description {
  margin-bottom: 1.6rem;
}

.hero__article__btn:hover {
  color: #00bafc;
  background-color: #ffffff;
  border: 0.1rem solid #00bafc;
  transition: 0.3s;
}

.hero__video {
  border-radius: 0.5rem;
}

@media screen and (max-width: 905px) {
  .header__menu {
    gap: 2.1rem;
  }
  .header__menu__list {
    gap: 3rem;
  }
  .header__menu__link {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .header__btn {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 841px) {
  .header__menu {
    gap: 2rem;
  }
  .header__menu__list {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 829px) {
  .header__menu {
    gap: 1.8rem;
  }
  .header__menu__list {
    gap: 2.6rem;
  }
  .header__menu__link {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .header__btn {
    font-size: 1.3rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 785px) {
  .header__container {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .header__menu {
    gap: 1.8rem;
  }
  .header__menu__list {
    gap: 2.6rem;
  }
  .header__menu__link {
    font-size: 1.2rem;
    line-height: 1.125;
  }
  .header__btn {
    font-size: 1.2rem;
    line-height: 1.125;
  }
}

@media screen and (max-width: 753px) {
  .header__menu {
    gap: 1.6rem;
  }
  .header__menu__list {
    gap: 2.4rem;
  }
  .header__menu__link {
    font-size: 1.2rem;
    line-height: 1.125;
  }
  .header__btn {
    font-size: 1.2rem;
    line-height: 1.125;
  }
}

@media screen and (max-width: 720px) {
  .header__menu {
    gap: 1.4rem;
  }
  .header__menu__list {
    gap: 2.2rem;
  }
  .header__menu__link {
    font-size: 1.2rem;
    line-height: 1;
  }
  .header__btn {
    font-size: 1.2rem;
    line-height: 1;
  }
}

@media screen and (max-width: 650px) {
  .check__btn {
    display: block;
  }
  .header__menu__list,
  .header__btn {
    display: none;
  }
  #check:checked ~ .header__btn {
    display: block;
  }
  #check:checked ~ .header__menu__list {
    display: block;
  }
}
