*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: flex;
    object-fit: cover;
}

ul,
ol {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media screen and (max-width: 905px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 740px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 720px) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}